openapi: 3.0.3
info:
  title: fakt API
  version: "1.4.0"
  description: >-
    Job market data API: search, geo, recruitment patterns, events, watchlists, bulk export.
    Authentication is mandatory: every request must send a valid key in the X-API-Key header.
    There is no anonymous access. Create a free key (free plan, no payment details) at
    https://fakt.no/dashboard/innstillinger. Requests without a key get 401 with code
    "api_key_required" and the same instructions. Errors: 401 missing/invalid key,
    403 key expired or endpoint not included in the plan, 429 quota, burst or export
    concurrency limit. The per-plan burst limit is counted per API key; a separate
    per-IP wall (1200/min across all keys by default) answers 429 with code
    "rate_limited_per_ip" and only trips for key rotation from one address. Bulk exports are charged by volume: 1 call per 25 rows returned.
    Plans: Free (core), Pro (+ market analytics), Business (+ recruitment analytics and
    bulk exports), Enterprise. Every operation states its minimum plan in x-plan.
    Metric definitions: an ad DISCLOSES SALARY when the salary parser accepted its NAV
    salary field (salaryActualText) or a normalized monthly-FTE figure exists
    (salaryActualMin/Max inside 15 000-150 000 NOK/month). Job.salaryDisclosed and
    Job.salaryMin/Max are legacy columns that are no longer written. salaryMin/salaryMax
    are the advertised monthly band; salaryEstimated* is Fakt's model estimate.
    aiMentions counts ads whose own text mentions AI/KI terms -- it is not an
    AI-authorship signal. Collection history starts 2026-08-11; /market/history serves
    up to 120 days. GET /, /openapi, /market and /changelog send an ETag and honour
    If-None-Match (304); /status returns a fresh body (servedAt + database latency) on
    every call, so it is not 304-cacheable. Browser integrations must be allow-listed
    (CORS) by the operator via V1_CORS_ORIGINS.
servers:
  - url: https://fakt.no/api/v1
    description: Production
security:
  - apiKey: []
paths:
  /:
    get:
      summary: Machine-readable catalog of this API
      x-plan: "Free"
      responses:
        "200": { description: "version, groups, endpoints (each with its plan), quotas and metric definitions. Sends an ETag." }
  /openapi:
    get:
      summary: This OpenAPI document
      x-plan: "Free"
      responses:
        "200": { description: "The OpenAPI 3.0 specification as YAML. Sends an ETag; honour If-None-Match (304)." }
  /jobs:
    get:
      summary: Search active jobs
      x-plan: "Free"
      parameters:
        - { name: q, in: query, schema: { type: string }, description: full-text search }
        - { name: county, in: query, schema: { type: string } }
        - { name: category, in: query, schema: { type: string }, description: case/plural-insensitive }
        - { name: postal, in: query, schema: { type: string, pattern: "^[0-9]{4}$" } }
        - { name: radius_km, in: query, schema: { type: number } }
        - { name: sort, in: query, schema: { type: string, enum: [newest, quality, distance] } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: offset, in: query, schema: { type: integer } }
        - { name: after, in: query, schema: { type: string }, description: keyset cursor from nextCursor; default sort (newest) only }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: "Jobs with optional distanceKm + geo, and nextCursor for the next page" }
        "400": { description: Invalid cursor, or after= with sort=quality|distance }
  /jobs/{id}:
    get:
      summary: Full enriched job
      x-plan: "Free (salary estimate: Pro)"
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: "Job detail with measured history. Advertised salary (salaryDisclosed, salaryText, salaryActualText, salaryMin/salaryMax) is returned on every plan, same as /jobs. Fakt's model estimate (salaryBenchmark, salaryEstimatedMin/Median/Max) is present only when salaryEstimatesAvailable is true (Market plan)." }
  /jobs/{id}/similar:
    get:
      summary: Similar jobs
      x-plan: "Free"
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Similar jobs with similarity scores }
  /employers:
    get:
      summary: Employer list
      x-plan: "Free"
      parameters:
        - { name: q, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Employers with open counts }
  /employers/{name}:
    get:
      summary: Employer profile with registry + recruitment pattern
      x-plan: "Free (recruitment block: Business)"
      parameters:
        - { name: name, in: path, required: true, schema: { type: string } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Employer profile }
  /recruitment:
    get:
      summary: Employer recruitment patterns (persistence score + evidence)
      x-plan: "Business"
      parameters:
        - { name: sort, in: query, schema: { type: string } }
        - { name: q, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Patterns }
  /recruitment/audit:
    get:
      summary: Algorithm validation (drift + signal distributions)
      x-plan: "Business"
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Audit }
  /events:
    get:
      summary: Change-log events (keyset pagination)
      x-plan: "Free"
      parameters:
        - { name: after, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Events }
  /stream:
    get:
      summary: SSE live stream of the change log (disabled — 410 Gone, use /events)
      x-plan: "Disabled"
      responses:
        "410": { description: "Gone — SSE stream disabled; use /api/v1/events" }
  /watchlists:
    get:
      summary: Saved searches (your key's own)
      x-plan: "Free"
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Watchlists }
    post:
      summary: Create a saved search
      x-plan: "Free"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                q: { type: string }
                postal: { type: string }
                radius_km: { type: number }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "201": { description: Created }
  /watchlists/{id}:
    get:
      summary: New jobs since last check (your key's own; another key's id returns 404)
      x-plan: "Free"
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: New jobs }
    delete:
      summary: Delete your saved search (another key's id returns 404 and is not deleted)
      x-plan: "Free"
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Deleted }
  /market:
    get:
      summary: Market KPIs (Oslo-time day)
      x-plan: "Pro"
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: KPIs }
  /market/salary:
    get:
      summary: Salary breakdown by category/occupation/county
      x-plan: "Pro"
      parameters:
        - { name: category, in: query, schema: { type: string }, description: case/plural-insensitive }
        - { name: occupation, in: query, schema: { type: string } }
        - { name: county, in: query, schema: { type: string }, description: county/city }
        - { name: source, in: query, schema: { type: string, enum: [actual, estimated] } }
        - { name: limit, in: query, schema: { type: integer, default: 25 } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Median, p25/p75, min/max, sample size + distribution }
        "403": { description: Requires an API key (Pro plan or higher) }
  /market/history:
    get:
      summary: Daily market history
      x-plan: "Pro"
      parameters:
        - { name: days, in: query, schema: { type: integer, default: 14 } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: History }
  /market/timetofill:
    get:
      summary: Time-to-fill from measured intervals
      x-plan: "Pro"
      parameters:
        - { name: category, in: query, schema: { type: string } }
        - { name: county, in: query, schema: { type: string } }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Stats }
  /usage:
    get:
      summary: Traffic telemetry
      x-plan: "Free"
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: Usage }
  /export/jobs:
    get:
      summary: "Bulk export of jobs, NDJSON or CSV (quota charged by volume: 1 call per 25 rows)"
      x-plan: "Business"
      parameters:
        - { name: limit, in: query, schema: { type: integer, default: 50000 }, description: "rows, max 100000" }
        - { name: include, in: query, schema: { type: string }, description: "comma-separated opt-ins: description, salaryEstimated, salaryActualText, aiMentions" }
        - { name: format, in: query, schema: { type: string, enum: [ndjson, csv], default: ndjson } }
        - { name: updatedSince, in: query, schema: { type: string, format: date-time }, description: "keep ads whose NAV source timestamp is newer; ordered ascending" }
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "400": { description: Unknown include field, unsupported format or bad updatedSince }
        "429": { description: Quota or export concurrency limit }
        "200": { description: "application/x-ndjson or text/csv; X-Export-Rows / X-Export-Units headers" }
  /export/employers:
    get:
      summary: "Bulk NDJSON export of employers (quota charged by volume: 1 call per 25 rows)"
      x-plan: "Business"
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: application/x-ndjson }
  /export/events:
    get:
      summary: "Bulk NDJSON export of the change log (quota charged by volume: 1 call per 25 rows)"
      x-plan: "Business"
      responses:
        "401": { $ref: "#/components/responses/Unauthorized" }
        "200": { description: application/x-ndjson }
  /status:
    get:
      summary: API and data-pipeline health (no key required)
      x-plan: "Free"
      responses:
        "200": { description: "status ok|degraded|down, database latency, NAV feed freshness, version. Sends an ETag, but the body changes on every call (servedAt, latency), so it is not 304-cacheable." }
  /changelog:
    get:
      summary: API changelog (no key required)
      x-plan: "Free"
      responses:
        "200": { description: "latest version + append-only entries (version, date, summary, changes)" }
components:
  responses:
    Unauthorized:
      description: >-
        Missing or invalid X-API-Key. This API has no anonymous access; create a free key
        (no payment details) at https://fakt.no/dashboard/innstillinger and send it as the
        X-API-Key header.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
